/*Обнуляем внутренние и внешние отступы в теле*/
body{ 
    margin: 0;
    padding: 0;
}
/*Указываем ширину, высоту и внутренние отступы в блочном элементе*/
div{
    height: 100px;
    width: 200px;
    margin: 10px 10px 10px 10px ;
}
/*Указываем цвет фона в блоках*/
#d3, #d5, #d6{
background-color: red;
}
/*Указываем цыет фона */
#d2{
    background-color: green;
}
/*Указываем цвет фона*/
.first{
    background-color: blue;
}
/*Указываем цвет блока, при наведении на него мышкой(псевдокласс)*/
#d1:hover{
    background-color: rgb(23, 0, 126);
}
/*Указываем цвет блока, при наведении на него мышкой(псевдокласс)*/
#d2:hover{
    background-color: rgb(5, 97, 9);
}
/*Указываем цвет блока, при наведении на него мышкой(псевдокласс)*/
#d3:hover{
    background-color: rgb(110, 0, 0);
}
/*Указываем цвет блока, при наведении на него мышкой(псевдокласс)*/
#d4:hover{
    background-color: rgb(23, 0, 126);
}
/*Указываем цвет блока, при наведении на него мышкой(псевдокласс)*/
#d5:hover{
    background-color: rgb(110, 0, 0);
}
/*Указываем цвет блока, при наведении на него мышкой(псевдокласс)*/
#d6:hover{
    background-color: rgb(110, 0, 0);
}
/*Указываем размеры картинки и отступ слева*/
#d7{
    margin-left: 10px;
    height: 200px;
    width: 200px;
}
/*Оформляем текст*/
.#d8{
    padding-top: 50px;
    font-family: 'Della Respira', serif;
    font-size: 20px;
}
/*Указываем цвет блока, при наведении на него мышкой(псевдокласс)*/
img:hover{
    background-color: rgb(180, 175, 175);
}
/*Меняем стиль первой буквы(псевдоэлемент)*/
p::first-letter{
    font-size: 40px;
    color: rgb(160, 0, 0);
}
/*Меняем цвет посещенной ссылки(псевдокласс)*/
.link:visited{
    color: rgb(102, 5, 86);
}
/*Используем псевдоэлемент*/
.link::after{
    content: "*";
}



